body.game-active {
    overflow: hidden;
}

#level-screen {
    position: fixed;

    inset: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;

    background: #eeeeee;

    z-index: 500;
}

#level-screen[hidden] {
    display: none;
}

#level-canvas {
    display: block;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    border: none;

    touch-action: none;
}


#menu-button {
    position: fixed;

    top: 18px;
    right: 18px;

    width: 55px;
    height: 55px;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 10px;

    background:
        rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 6px;

    cursor: pointer;

    z-index: 1500;
}


#menu-button span {
    width: 27px;
    height: 3px;

    background: white;

    border-radius: 3px;
}


#menu-button[hidden] {
    display: none;
}


#pause-menu {
    position: fixed;

    inset: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    background:
        rgba(0, 0, 0, 0.55);

    z-index: 2000;
}


#pause-menu[hidden] {
    display: none;
}


#pause-menu-box {
    width: 320px;

    padding: 35px;

    border-radius: 15px;

    background:
        rgba(30, 30, 30, 0.96);

    color: white;

    text-align: center;
}