#menu-button {
    position: fixed;

    top: 18px;
    right: 18px;

    width: 55px;
    height: 55px;

    margin: 0;
    padding: 0;

    border: none;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.35);
    color: white;

    font-size: 30px;

    cursor: pointer;

    z-index: 1000;
}


#pause-menu {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.55);

    z-index: 2000;
}


#pause-menu[hidden] {
    display: none;
}


#pause-menu-box {
    width: 320px;

    padding: 35px;

    background: rgba(30, 30, 30, 0.95);

    border-radius: 15px;

    color: white;

    text-align: center;
}


#pause-menu-box button {
    width: 250px;

    margin: 12px auto;

    padding: 13px;

    font-size: 16px;
}